
body {
font-family:Helvetica;
font-size: 15px;
background-color: #8B1300;
}
#heading2{
position: relative;
color: white;
padding: 1px;
left: -5%;
text-align: center;
}
#hometext{

}
/*
a {
color: #FFFFFF;
}
a:link {color: #FFFFFF; text-decoration: underline; }
.container {
width: 950px;
margin: 0 auto;
}
*/


a:visited {color: #FFFFFF; text-decoration:none;}
a:hover {color: #CDCDCD; text-decoration: none;}
a:active {background-color:  #610B0B;}
.catlist{
color: black;
}


.container {
width: 950px;
margin: 0 auto;
}



#swap{
position: relative;
left: 220px;
}

#nav {
    line-height:30px;
    font-weight: bold;
    color: white;
    height:950px;
    width:190px;
    float:left;
    padding:10px;
}


#main {
border:solid 3px white;
border-radius: 5px;
color: white;
background-color:white;
}

td,p{
color: black;

}
/*helps thext on home to stick to image
*/
img.bordered-image { 
    float: left; 
    margin: 4px; 
}

#floted {
color: black;
float: left;
width: 200px;
position: relative;
left: 600px;
}

#catdata{
color: black;
}

.Highlight{
	text-decoration: none;
   background-color: #610B0B;
 }
 
.hidden {
    visibility: hidden;
}

.visible{
    visibility:visible;
}

.dashimg{
border:solid 3px #000000;
}

.move_form{
    position: relative;
    top: -120px;
     visibility:visible;
}

.move_back{
	 position: relative;
    top: -10px;
    visibility: hidden;
}




