
body {
font-family:Helvetica;
font-size: 15px;
background-color: #8B1300;
//background: linear-gradient(darkred,brown);
}
#heading2{
position: relative;
color: white;
padding: 1px;
left: -5%;
text-align: center;
}

#terms{
padding: 22px;
width: 450px;
position: relative;
left: 200px;
}

.fade{
display: block;
}
/*
a {
color: #FFFFFF;
}
a:link {color: #FFFFFF; text-decoration: underline; }
.container {
width: 950px;
margin: 0 auto;
}
*/


a:visited {color: #FFFFFF; text-decoration:none;}
a:hover {color: #CDCDCD; text-decoration: none;}
a:active {background-color:  #610B0B;}
.catlist{
color: black;
}

/*
#lgnd{
position: fixed;
right: 19px;
}
*/
.container {
width: 950px;
margin: 0 auto;
}



#swap{
position: relative;
left: 220px;
}

#nav {
    line-height:30px;
    font-weight: bold;
    color: white;
    height:950px;
    width:190px;
    float:left;
    padding:10px;
}


#main {

border:solid 3px white;
border-radius: 5px;
color: white;
background-color:white;
width:100%;
height: 800px;
}

td,p{
font-family: "Times New Roman", Times, serif;
color: black;
font-size: 16px;
padding-bottom:5px;
}

#hometext{
font-family: "Times New Roman", Times, serif;
font-size: 18px;
position:relative;
left: 400px;
width:55%;
height: 800px;
padding-left:10px;
}

#editdata{
position:relative;
top: -140px;
left: 250px;
}

#itmview{
position: relative;
border:solid 5px #EBF4FA;
width: 60%;
height: 40%;
border-collapse: collapse;
padding: 2px;
}
#vt:nth-child(even) {background: #EBF4FA}
#vt:nth-child(odd) {background: white}

/*helps thext on home to stick to image
#slideshow {
    float: left; 
    margin: 4px; 
}

#slideshow  div {
    float: left; 
    margin: 4px; 
}

*/
//--------------------image rotate



//--------------------image rotate

#floted {
color: black;
float: left;
width: 200px;
position: relative;
left: 600px;
}

#catdata{
position:absolute;
top: 100px;
width: 40%;
color: black;
font-family: "Times New Roman", Times, serif;
font-size: 16px;
padding-left:10px;
padding-top: 2px;
}

#sectiondta{
color: black;
width: 60%;
height: 95%;
background-color: #FEFCFF;
position:relative;
top: 10px;
left: 300px;
border-left:solid 4px black; 
padding-left: 5px;
}


.Highlight{
	text-decoration: none;
   background-color: #610B0B;
 }
 
.hidden {
    visibility: hidden;
}

.visible{
    visibility:visible;
}

.dashimg{
border:solid 7px #EBF4FA;
}

.move_form{
    position: relative;
    top: -120px;
     visibility:visible;
}

.move_back{
	 position: relative;
    top: -10px;
    visibility: hidden;
}



.dashbrd1{
    width:170px ;
    height:50px;
    background-color: #008080;
    position: relative;
    top: -100px;
    left: 180px;
}
.dashbrd2{
    width:170px ;
    height:50px;
    background-color: #3090C7;
    position: relative;
    top: -150px;
    left: 400px;
}
.dashbrd3{
    width:170px ;
    height:50px;
    background-color: #566D7E;
    position: relative;
    top: -200px;
    left: 610px;
}

#txt1{
color: white;
font-weight: bold;
text-align: left;
padding:15px;
padding-right: 15px;
padding-left: 20px;
}
#txt2{
color: white;
font-weight: bold;
text-align: left;
padding:15px;
padding-right: 15px;
padding-left: 20px;
}
#txt3{
color: white;
font-weight: bold;
text-align: left;
padding:15px;
padding-right: 15px;
padding-left: 20px;
}

#data{
    position: relative;
    top: -200px;
    left: 150px;
}

#itemupload{
background-color: #EBF4FA;
position: relative;
right: 250px;
padding-top: 25px;
}
#itemupdate{
background-color: #EBF4FA;
position: relative;
right: 30px;
top: -40px;
padding-top: 25px;
width: 50%;
}




#itemadd{
position: relative;
    top:   -0px;
    left:  0px;
}

#data_area{
position: relative;
width: 63%;
top: -180px;
left: 135px;
border-top-width: 2px;
padding-top: 2px;
}


.zoom{
border:2px solid;
box-shadow: 7px 7px 5px #888888;
}
.DivToScroll{   
    
    border: 2px solid #EBF4FA;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

.DivWithScroll{
    height:500px;
    overflow: auto;
    overflow-x:hidden;
}

.clrbrk1{
background-color: teal;
}
.clrbrk11{
background-color: #800000;
}


#itmimg{
    height:90px;
    width: 90px;
   border: 2px solid;
   border-color: #E5E4E2;
   
}
//new image rotate
#slideshow {
    position:relative;
//heigh;
}

#slideshow IMG {
    position:absolute;
    top:30;
    left:30;
    z-index:1;
}

#slideshow IMG.active {
    z-index:3;
}

#slideshow IMG.last-active {
    z-index:2;
}

#updatetable{
border:solid 7px #black;
}

#idp{
position: relative;
top: 20px;
}